server {
    listen 80;
    server_name fron-api.onrender.com;  # Замени на домен фронтенда

    root /usr/share/nginx/html;
    index login.html;

    location / {
        try_files $uri $uri/ /login.html;
    }

    location /api/ {
        proxy_pass https://fastapi-auth-crud-haf0.onrender.com/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        # Убери или замени Access-Control-Allow-Origin
        # add_header Access-Control-Allow-Origin *;  # Удали это
        proxy_set_header Access-Control-Allow-Origin $http_origin;  # Тест
        proxy_set_header Access-Control-Allow-Credentials true;    # Добавь для cookies
    }
}

